.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
Stan/*.rData
*/*.csv
Sims/*.mat
Sims/**
Sims/Iterate_Out/**
Sims/Iterate/**
Resources/*.pdf
R/*cache/**
R/*cache-bkp/**
R/*.html
R/NMF_*/
R/*files/**
NMF*/**
R/Sims/Iterate
R/Sims/Iterate_Out
R/Sims/*.mat
HPC/MATLABout
HPC/Rout