.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
Stan/*.rData
Sims/*.csv
Sims/*.mat
Sims/**
Sims/Iterate_Out/**
Sims/Iterate/**
Resources/*.pdf
R/*cache/**
R/*cache-bkp/**
R/*.html
R/NMF_*/
R/*files/**
NMF*/**