.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.rData
*.csv
Sims/*.mat
Sims/**
Resources/*.pdf
R/*cache/**
R/*cache-bkp/**
R/*.html
R/NMF_*/
R/*files/**
NMF*/**
R/Sims/Iterate
R/Sims/Iterate_Out
R/Sims/*.mat
HPC/MATLABout
HPC/Rout